@model PassPast.ViewModels.ExamsViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
	<script src="~/Scripts/script.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <!--This is the application insights inistialsation script, it'll collect information about how the website is used-->
    <script src="~/Scripts/ai.0.22.19-build00125.min.js"></script>
</head>
<body>

<!-- The hidden drop down sidebar for small screens -->
<div class="panel-group hidden-top-sidebar">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Show/Hide Menu</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div>
                <br />
                <a href="../Home/Index" class="sidebar-btn btn btn-default" role="button">< home</a> 
                <a href="../Papers/Index?CourseCode=@ViewBag.CourseCode" class="sidebar-btn btn btn-default" role="button">< back</a>

                <br /><br />
                <h3>Exams</h3>
                @{ 
                    int checkYearSmall = 0;
                    foreach (var exam in ViewBag.Exams)
                    {
                        if (ViewBag.ExamName == @exam.Year + @exam.Semester)
                        {
                        <div class="active-sidebar-page">
                            <h4>
                                @exam.Year Semester @exam.Semester
                            </h4>
                        </div>
						}
						else
						{
							if (exam.Semester == "3")
							{
								<a href="../Exams/@exam.Type?CourseCode=@ViewBag.CourseCode&PaperName=@ViewBag.PaperName&ExamName=@exam.Year@exam.Semester">
									<h4 class="sidebar-div">@exam.Year Summer School</h4>
								</a>
							}
							else
							{
								<a href="../Exams/@exam.Type?CourseCode=@ViewBag.CourseCode&PaperName=@ViewBag.PaperName&ExamName=@exam.Year@exam.Semester">
									<h4 class="sidebar-div">@exam.Year Semester @exam.Semester</h4>
								</a>
							}
						}
					}
				}
				<p class="sidebar-tip"><br />Don't see your exam?</p>
				<a href="../Exams/New?CourseCode=@ViewBag.CourseCode&PaperName=@ViewBag.PaperName" class="sidebar-btn btn btn-default" role="button">add new</a>
            </div>
        </div>
    </div>
</div>

<!-- Normal sidebar -->

<div class="col-md-2 sidebar">
    <div><h3>Pass Past</h3></div>
    <br />
    <a href="../Home/Index" class="sidebar-btn btn btn-default" role="button">< home</a>
    <a href="../Papers/Index?CourseCode=@ViewBag.CourseCode" class="sidebar-btn btn btn-default" role="button">< back</a>

    <br /><br /><br />
    <h3>Exams</h3><br />
    @{
        int checkYear = 0;
        foreach (var exam in ViewBag.Exams)
        {
            if (checkYear != exam.Year)
            {
                <br />
            }
            checkYear = exam.Year;
            if (ViewBag.ExamName == exam.Year + exam.Semester)
            {
            <div class="active-sidebar-page">
                    <h4>
                        @exam.Year Semester @exam.Semester
                    </h4>

            </div>
			}
			else
			{
				if (exam.Semester == "3")
				{
					<a href="../Exams/@exam.Type?CourseCode=@ViewBag.CourseCode&PaperName=@ViewBag.PaperName&ExamName=@exam.Year@exam.Semester">
						<h4 class="sidebar-div">@exam.Year Summer School</h4>
					</a>
				}
				else
				{
					<a href="../Exams/@exam.Type?CourseCode=@ViewBag.CourseCode&PaperName=@ViewBag.PaperName&ExamName=@exam.Year@exam.Semester">
						<h4 class="sidebar-div">@exam.Year Semester @exam.Semester</h4>
					</a>
				}
			}
		}
	}
	<p class="sidebar-tip"><br />Don't see your exam?</p>
	<a href="../Exams/New?CourseCode=@ViewBag.CourseCode&PaperName=@ViewBag.PaperName" class="sidebar-btn btn btn-default" role="button">add new</a>
</div>

<!-- All content renders here -->
<div class="body-content col-md-10">
	@RenderBody()
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@RenderSection("scripts", required: false)

</body>
</html>
