@model PassPast.ViewModels.ExamsViewModel
@{
            Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="papers">
	<div class="col-lg-3"></div>
	<div class="paper-title col-lg-6">
		<h2>@ViewBag.CourseCode @ViewBag.PaperName</h2>

		<h4 class="select-heading">Select an exam</h4>

		<div>
			@foreach (var exam in ViewBag.Exams)
			{
				if (exam.Semester == "3")
				{
					<a href="../Exams/@exam.Type?CourseCode=@ViewBag.CourseCode&PaperName=@ViewBag.PaperName&ExamName=@exam.Year@exam.Semester" class="btn btn-default paper-button" role="button">
						@exam.Year Summer School
					</a>
				}
				else
				{
					<a href="../Exams/@exam.Type?CourseCode=@ViewBag.CourseCode&PaperName=@ViewBag.PaperName&ExamName=@exam.Year@exam.Semester" class="btn btn-default paper-button" role="button">
						@exam.Year Semester @exam.Semester
					</a>
				}
			}
		</div>

		<div>
			<h4 class="add-new-heading">or</h4>
			<a href="../Exams/New?CourseCode=@ViewBag.CourseCode&PaperName=@ViewBag.PaperName" class="btn btn-default paper-button" role="button">
				Add new exam
			</a>
		</div>

	</div>
	</div>

