@model PassPast.ViewModels.ExamsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="papers">
	<div class="paper-title">
		<h2>@ViewBag.CourseCode @ViewBag.PaperName: Add new exam</h2>
        @{
            if (ViewBag.Error != null)
            {
                <h3 style="color:darkred">@ViewBag.Error</h3>
            }
        }

		<form class="form-horizontal select-heading" action="/Exams/AddExam" method="post">
			<div class="form-group">
				<label class="control-label col-sm-5">Year:</label>
				<div class="col-sm-7">
					<select class="form-control" name="Year">
						@{
							int currentYear = DateTime.Now.Year;
							<!-- Shows dates from current year back to 2000 in reverse order -->
							IEnumerable<int> years = Enumerable.Range(2000, (currentYear - 1999)).Reverse();

							foreach (int number in years)
							{
								<option value="@number">@number</option>
							}
						}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5">Semester:</label>
				<div class="col-sm-7">
					<select class="form-control" name="Semester">
						<option value="1">Semester 1</option>
						<option value="2">Semester 2</option>
						<option value="3">Summer Semester</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5">Type of exam:</label>
				<div class="col-sm-7">
					<select class="form-control" id="examType" name="TypeOfExam" onchange="toggleMCQOptions();">
						<option id="MCQ" value="MCQ">Multiple Choice</option>
						<option id="WE" value="Written">Written Exam</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5">Number of questions:</label>
				<div class="col-sm-7">
					<input class="form-control" name="NumberOfQuestions" type="number" pattern="[0-9]+" max="100" />
				</div>
			</div>
			<div id="mcq-option1" class="form-group">
				<label class="control-label col-sm-5">Format of answers:</label>
				<div class="col-sm-7">
					<select class="form-control" name="MCQFormatOfAnswers">
						<option value="ABC">A, B, C, D</option>
						<option value="123">1, 2, 3, 4</option>
						<option value="Roman">I, II, III, IV</option>
					</select>
				</div>
			</div>
			<div id="mcq-option2" class="form-group">
				<label class="control-label col-sm-5">Number of answers per question:</label>
				<div class="col-sm-7">
					<!-- Min is 2 for TRUE/FALSE Questions, Max at 6.-->
					<input class="form-control" name="MCQNumberOfAnswers" type="number" pattern="[0-9]+" min="2" max="6" />
				</div>
			</div>
			<input type="hidden" name="CourseCode" value="@ViewBag.CourseCode" />
			<input type="hidden" name="PaperName" value="@ViewBag.PaperName" />
			<div class="form-group">
				<div class="col-sm-12">
					<input type="submit" name="submit" value="Submit" class="btn btn-primary btn-md form-button">
					<a href="../Home/Index" class="btn btn-danger btn-md form-button">Cancel</a>
				</div>
			</div>
		</form>



	</div>
</div>