@model PassPast.ViewModels.PapersViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="papers">
	<div class="col-lg-3"></div>
	<div class="paper-title col-lg-6">
		<h2>@ViewBag.CourseCode</h2>

		<h4 class="select-heading">Select a paper</h4>

		<div>
			@if (ViewBag.Stage1Papers != null)
			{
				<h5 class="select-heading">Stage 1</h5>

				foreach (var paper in ViewBag.Stage1Papers)
				{
					<a href="../Exams/Index?CourseCode=@ViewBag.CourseCode&PaperName=@paper.Name" class="btn btn-default paper-button" role="button">
						@ViewBag.CourseCode @paper.Name
					</a>
				}
			}

			@if (ViewBag.Stage2Papers != null)
			{
				<h5 class="select-heading">Stage 2</h5>

				foreach (var paper in ViewBag.Stage2Papers)
				{
					<a href="../Exams/Index?CourseCode=@ViewBag.CourseCode&PaperName=@paper.Name" class="btn btn-default paper-button" role="button">
						@ViewBag.CourseCode @paper.Name
					</a>
				}
			}

			@if (ViewBag.Stage3Papers != null)
			{
				<h5 class="select-heading">Stage 3</h5>

				foreach (var paper in ViewBag.Stage3Papers)
				{
					<a href="../Exams/Index?CourseCode=@ViewBag.CourseCode&PaperName=@paper.Name" class="btn btn-default paper-button" role="button">
						@ViewBag.CourseCode @paper.Name
					</a>
				}
			}
			<!--foreach (var paper in ViewBag.Papers)
			{
				<a href="../Exams/Index?CourseCode=ViewBag.CourseCode&PaperName=paper.Name" class="btn btn-default paper-button" role="button">
					ViewBag.CourseCode paper.Name
				</a>
			}-->
		</div>

		<div>
			<h4 class="add-new-heading">or</h4>
			<a href="../Papers/New?CourseCode=@ViewBag.CourseCode" class="btn btn-default paper-button" role="button">
				Add new paper
			</a>
		</div>

	</div>
</div>

